<% if (success && success.length > 0) { %>
<div id="flash-message" class="bg-emerald-400 transition-all text-white top-20 fixed -translate-x-1/2 left-1/2 text-sm text-right px-8 py-2 rounded-xl">
	<%= success %>
</div>
<% } %>

<% if (error && error.length > 0) { %>
	<div id="flash-message" class="bg-red-400 transition-all text-white top-20 fixed -translate-x-1/2 left-1/2 text-sm text-right px-8 py-2 rounded-xl">
		<%= error %>
	</div>
<% } %>

<% if (warning && warning.length > 0) { %>
	<div id="flash-message" class="bg-amber-400 transition-all text-white top-20 fixed -translate-x-1/2 left-1/2 text-sm text-right px-8 py-2 rounded-xl">
		<%= warning %>
	</div>
<% } %>