<% if (flash_message.length > 0) { %>
<div id="flash-message" class="<%= flash_message[1] %> transition-all text-white top-20 fixed -translate-x-1/2 left-1/2 text-sm text-right px-8 py-2 rounded-xl">
	<%= flash_message[0] %>
</div>
<% } %>