<% layout('layouts/boilerplate')%>
<div class="max-w-4xl mx-auto">
	<a class="underline color text-blue-500 mb-5 block" href="/campgrounds">Go back to overview</a>
	<h1 class="text-4xl">Add a new campground</h1>
	<form class="mt-5" action="/campgrounds/new" method="POST">
		<label class="text-xl font-medium mb-1 block" for="image">Image url</label>
		<input class="block border border-blue-500 w-full px-2 py-2 rounded text-gray-500" id="image" name="campground[image]" type="text" />

		<label class="text-xl font-medium mb-1 block mt-5" for="title">Name</label>
		<input class="block border border-blue-500 w-full px-2 py-2 rounded text-gray-500" id="title" name="campground[title]" type="text" />

		<label class="text-xl font-medium mb-1 block mt-5" for="location">Location</label>
		<input class="block border border-blue-500 w-full px-2 py-2 rounded text-gray-500" id="location" name="campground[location]" type="text" />

		<label class="text-xl font-medium mb-1 block mt-5" for="location">Description</label>
		<textarea
			class="block border border-blue-500 w-full px-2 py-2 rounded text-gray-500 min-h-44 h-auto"
			id="description"
			name="campground[description]"
			type="text"
		></textarea>

		<label class="text-xl font-medium mb-1 block mt-5" for="price">Price</label>

		<div class="relative">
			<input
				class="ps-9 pe-16 bock border border-blue-500 w-full px-2 py-2 rounded text-gray-500"
				id="price"
				name="campground[price]"
				type="number"
				step="0.05"
				placeholder="0.00"
			/>
			<div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4">
				<span class="text-gray-500 dark:text-neutral-500">€</span>
			</div>
			<div class="absolute inset-y-0 end-0 flex items-center pointer-events-none z-20 pe-4">
				<span class="text-gray-500 dark:text-neutral-500">EUR</span>
			</div>
		</div>

		<button class="text-sm text-white rounded-md inline-block mt-8 px-4 py-2 bg-green-500 hover:bg-green-600">edit campground</button>
	</form>
</div>
