<% layout('layouts/boilerplate')%>
<div class="max-w-4xl mx-auto">
	<a class="underline color text-blue-500 mb-5 block" href="/campgrounds">Go back to overview</a>

	<h1 class="text-4xl">Add a new campground</h1>

	<form id="addCampgroundsForm" class="mt-5" action="/campgrounds/new" method="POST" novalidate>
		<div>
			<label class="text-xl font-medium mb-1 block" for="image">Image url</label>
			<input required class="peer rounded ring-1 focus:ring-2 ring-blue-500 w-full px-2 py-2 text-gray-500 [.validated_&]:invalid:ring-red-500 valid:ring-green-600" id="image" name="campground[image]" type="text" />
			<p class="hidden [.validated_&]:peer-invalid:block px-2 mt-1 text-xs text-red-500">please provide a image url</p>
			<p class="hidden peer-valid:block px-2 mt-1 text-xs text-green-700">Looks good!</p>
		</div>

		<div>
			<label class="text-xl font-medium mb-1 block mt-5" for="title">Name</label>
			<input required class="peer rounded ring-1 focus:ring-2 ring-blue-500 w-full px-2 py-2 text-gray-500 [.validated_&]:invalid:ring-red-500 valid:ring-green-600" id="title" name="campground[title]" type="text" />
			<p class="hidden [.validated_&]:peer-invalid:block px-2 mt-1 text-xs text-red-500">please provide a name</p>
			<p class="hidden peer-valid:block px-2 mt-1 text-xs text-green-700">Looks good!</p>
		</div>

		<div>
			<label class="text-xl font-medium mb-1 block mt-5" for="location">Location</label>
			<input required class="peer rounded ring-1 focus:ring-2 ring-blue-500 w-full px-2 py-2 text-gray-500 [.validated_&]:invalid:ring-red-500 valid:ring-green-600" id="location" name="campground[location]" type="text" />
			<p class="hidden [.validated_&]:peer-invalid:block px-2 mt-1 text-xs text-red-500">please provide a location</p>
			<p class="hidden peer-valid:block px-2 mt-1 text-xs text-green-700">Looks good!</p>
		</div>

		<div>
			<label class="text-xl font-medium mb-1 block mt-5" for="location">Description</label>
			<textarea
				required
				class="peer rounded ring-1 focus:ring-2 ring-blue-500 w-full px-2 py-2 text-gray-500 [.validated_&]:invalid:ring-red-500 valid:ring-green-600 min-h-44 h-auto"
				id="description"
				name="campground[description]"
				type="text"
			></textarea>
			<p class="hidden [.validated_&]:peer-invalid:block px-2 mt-1 text-xs text-red-500">please provide a description</p>
			<p class="hidden peer-valid:block px-2 mt-1 text-xs text-green-700">Looks good!</p>
		</div>

		<div>
			<label class="text-xl font-medium mb-1 block mt-5" for="price">Price</label>
			<div class="relative">
				<input required class="ps-9 pe-16 peer rounded ring-1 focus:ring-2 ring-blue-500 w-full px-2 py-2 text-gray-500 [.validated_&]:invalid:ring-red-500 valid:ring-green-600"" id="price" name="campground[price]" type="number" step="0.05"
				placeholder="0.00" />
				<p class="hidden [.validated_&]:peer-invalid:block px-2 mt-1 text-xs text-red-500">please provide a price</p>
				<p class="hidden peer-valid:block px-2 mt-1 text-xs text-green-700">Looks good!</p>

				<div class="absolute top-2 start-4 flex items-center pointer-events-none z-20">
					<span class="text-gray-500 dark:text-neutral-500">€</span>
				</div>

				<div class="absolute top-2 end-4 flex items-center pointer-events-none z-20">
					<span class="text-gray-500 dark:text-neutral-500">EUR</span>
				</div>
			</div>
		</div>

		<button class="text-sm text-white rounded-md inline-block mt-8 px-4 py-2 bg-green-500 hover:bg-green-600">add campground</button>
	</form>
</div>

<script>
	const form = document.getElementById("addCampgroundsForm");

	form.addEventListener("submit", (e) => {
		if (!form.checkValidity()) {
			e.preventDefault();
			e.stopPropagation();
		}
		form.classList.add("validated");
	});
</script>
