<% layout('layouts/boilerplate')%>

<a href="/campgrounds">go back to overview</a>
<h1>Add a new campground</h1>
<form action="/campgrounds/new" method="POST">
	<div>
		<label for="title">Name</label>
		<input id="title" name="campground[title]" type="text" />
	</div>
	<div>
		<label for="location">Location</label>
		<input id="location" name="campground[location]" type="text" />
	</div>

	<button>Add campground</button>
</form>
